<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @book.pages %>
</p>


<p>
  <strong>Publisher House:</strong>
  <%= @book.publisher_house ? @book.publisher_house.name : 'No Publisher House' %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @book.published_at %>
</p>

<p>
  <strong>Cover:</strong>
	<% if @book.cover.blank? %>
      No cover availble
  <% else %>
      <img class="cover_container" src="<%= @book.cover %>"/>
  <% end %>
</p>

<p>
  <strong>Authors:</strong>
  <%  @book.authors.each do |b| %>
        <p><%= link_to b.first_name+' '+b.last_name, b %></p>
  <%  end %>
</p>
<%= link_to 'Edit', edit_book_path(@book), class:'btn btn-info' %> |
<%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>  |
<%= link_to 'Cancel', books_path, class:'btn btn-default' %>
