<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @book.pages %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @book.cover %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @book.published_at %>
</p>

<%= link_to 'Edit', edit_book_path(@book), class:'btn btn-info' %> |
<%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>  |
<%= link_to 'Cancel', books_path, class:'btn btn-default' %>
